@import url("https://fonts.googleapis.com/css?family=Lexend+Peta|Beth+Ellen|Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 20px;
  background-color: rgb(174, 205, 210, 0.2)
}

/*Cursor*/

i,
li {
  cursor: pointer;
}

/*Navigation styling*/

ul li,
.card-title {
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

/*Registration button styling*/

.sign-in,
.btn-newsletter {
  font-family: "Lexend Peta";
  font-size: 15px;
  text-transform: lowercase;
  
  border: 1px solid rgb(49, 105, 124);
  color: rgb(49, 105, 124);
}

.sign-in:hover,
.btn-newsletter:hover {
  background-color: rgb(49, 105, 124);
  color: rgb(174, 205, 210);
}


/*Wanderlust Jumbotron*/

section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.display-4 {
  font-family: "Lexend Peta";
  text-transform: lowercase;
  letter-spacing: 7px;
  margin-bottom: 3px;
  color: rgb(49, 105, 124);
}

hr.medium-line {
  width: 40%;
  margin: auto;
  color: rgb(49, 105, 124);
}

.lead {
  font-family: "Beth Ellen";
  text-align: center;
  font-size: 25px;
  margin-top: 3px;
  color: rgb(49, 105, 124);
}

.jumbotron {
  background-color: rgb(174, 205, 210);
}
/*vagabond cards styling*/

.container.intro {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/*cards mobile and ipad styling*/

@media (min-width: 700px){
    #slideX, #slide4, #slide5, #slide6{
        min-width:25%;
        height:auto;
    }
}

/*Footer*/

.share,
.newsletter {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: lowercase;
  font-family: "Lexend Peta";
  color: rgb(49, 105, 124);
}

/*--Newsletter styling, form and the paragraphs--*/
.Newsletter {
  width: 80%;
  margin:auto;
}
/*Newsletter mobile and ipad view*/

@media (max-width: 600px) {

  input#exampleInputEmail1{
    font-size: 10px;
  }
  .Newsletter {
    width: 80%;
  }
}

/*Social media share links*/
.socials {
  padding-left: 0;
}
.socials li {
  display: inline-block;
  padding: 50px;
}

.socials li:hover {
  text-shadow: 2px 3px 4px rgb(49, 105, 124);
}

a:hover {
  text-shadow: 2px 3px 4px rgb(49, 105, 124);
}

/*--Vertical line--*/
.vl {
  height: 70px;

}
/*--footer links styling--*/
.col-sm {
  text-align: center;
  margin-top: 10px;
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

/*Media*/

@media only screen and (max-width: 600px) {
  /*Jumbotron paragraph and main title to fit within the jumbotron*/
  .display-4 {
    font-family: "Lexend Peta";
    text-transform: lowercase;
    letter-spacing: 7px;
    font-size: 130%;
  }

  .medium-line {
    width: 80%;
    margin: auto;
  }

  .lead {
    font-size: 68%;
  }

  /*Ensuring Social Media links display nicely and centered*/
  .socials {
    text-align: center;
    padding-left: 0;
  }
  /*For mobile website reduced size of the social icons*/
  .socials li {
    display: inline-block;
    padding: 5px;
    font-size: 50%;
  }
}


/*---Footer media view----*/

@media only screen and (max-width: 800px) {
  footer a {
    font-size: 14px;
  }
}

/*---Copyright styling----------*/
.copyright {
  font-family: p22-hopper-edward, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

/*links decoration removal*/

.sign-in a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.sign-in a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}

.sign-in a:hover {
  color: rgb(174, 205, 210) !important;
}

.display-4 a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.display-4 a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}

.card-body a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.card-body a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.card-title a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.card-title a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.col-sm a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.col-sm a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.copyright a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.copyright a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}



/*Reads*/

.card {
  margin-bottom: 15px;
  width: 286px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-body {
  padding-top: 0;
}

.card-body.buttons {
  position: absolute;
  bottom: 0;
}

.card-title {
  padding-top: 15px;
}

.summary {
  margin-top: 0;
  margin-bottom: 9px;
}

button.btn.sign-in.review {
  font-size: 10px;
  bottom: 0;
}

.kindle img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

a.kindle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-globe-americas:hover .tooltiptext {
  visibility: visible;
}

.fa-globe-americas .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(49, 105, 124, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 12px;
  font-family: "Lexend Peta";
  font-weight: 200;
  text-transform: lowercase;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


/*-------Media for the Reads page----*/
/*----For smaller ipads---*/
@media only screen and (min-width: 600px) {
  p.card-text {
    font-size: 15px;
  }
  h5.card-title {
    font-size: 12px;
  }

  .kindle img {
    width: 50px;
    height: 50px;
  }
}

/*----For ipad pro----*/
@media only screen and (min-width: 1000px) {
  p.card-text {
    font-size: 15px;
  }
  h5.card-title {
    font-size: 12px;
  }
  .review {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .kindle img {
    width: 50px;
    height: 50px;
  }
}

/*-------------Map modal---------------*/

.lp {
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.lp:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Tooltip container */
.lp {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.lp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(49, 105, 124, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  margin-left: 10px;

  font-size: 10px;
  font-family: "Lexend Peta";
  text-transform: lowercase;
  text-decoration: none !important;

  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.lp:hover .tooltiptext {
  visibility: visible;
}



/*------------------------Tunes-----------------*/

.card-container {
  perspective: 700px;
}

.card-flip,
.card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  position: relative;
  margin: auto;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container {
  display: grid;
  perspective: 700px;
}

/*front and back same size*/

.front,
.back {
  width: 300px;
  height: 300px;
}

/*------Icon Bar---------*/

.icon-bar {
  width: 100%;
  background-color: rgb(174, 205, 210);
  overflow: hidden;
}

.icon-bar a {
  text-align: center;
  width: 25%;
  transition: all 0.3s ease;
  color: white;
}

.card-link a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .socials li {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*---------------------------Contact Us-----------------------*/

.modal-content {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(49, 105, 124);
  border-radius: 4%;
}

.modalBtn {
  color: rgb(174, 205, 210);
  background-color: rgb(49, 105, 124);
}

/*------------------Go--------------------*/


/*----------------Currency converter adapted from Coding Journey tutorial, most styling is custom (link in readme)-----------*/
/*Ensuring the content of card is not selectable*/
.card-group.container-fluid {
  user-select: none;
}

.card.api {
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 0;
  position: relative;
}

ul.currencies {
  list-style-type: none;
}

.date {
  font-family: "Beth Ellen";
  color: rgb(49, 105, 124);
}

.curr-place {
  width: 50%;
  margin-left: 10px;
  margin-top: 0;
}
.info {
  padding-top: 2%;
  padding-left: 2%;
}

.input.flag {
  margin-bottom: 5px;
}

.flag {
  float: left;
  height: 38px;
}
img.flag {
  width: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p.currency-name {
  margin-bottom: 0px;

  font-size: 14px;
  margin-top: 7px;

  text-align: left;
}

p.currency-rate {
  margin-bottom: 0px;
  float: left;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.7);
}

.add-currency-btn {
  margin-top: 20px;
}

ul.currencies {
  height: calc(100vh - 75px - 96.6px - 75px);
  overflow-y: auto;
}

.currency.base-currency {
  background-color: rgb(174, 205, 210, 0.3);
}

ul.currencies li .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0.5rem;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.9);
}

.additional-currency {
  border: 0;
}
.flag.additional {
  height: 32px;
}

span.currency-description {
  font-size: 10px;
  text-align: center;
}

/*Scrollbar*/

ul.currencies::-webkit-scrollbar {
  width: 5px;
}

ul.currencies::-webkit-scrollbar-thumb {
  background-color: rgb(49, 105, 124);
  border-bottom: 1rem solid rgb(174, 205, 210);
}
/*Removing padding so the content stretches across the card*/
.add-currency-list {
  padding-left: 0;
}
/*styling the dropdown currencies*/
ul.add-currency-list {
  position: absolute;
  bottom: 45px;
  left: 0;
  background-color: white;
  color: rgb(49, 105, 124);
  width: 100%;
  list-style-type: none;
  font-size: 5px;
  height: 0;
  overflow-y: auto;

  transition: all 0.25s;
}

ul.add-currency-list li.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.list-group-item.currency {
  font-size: 15px;
}

.add-currency-btn {
  color: rgb(49, 105, 124);
  background-color: rgb(174, 205, 210);
  border: 1px solid rgb(49, 105, 124);

  font-family: "Lexend Peta";
  font-size: 20px;
  text-transform: lowercase;

  height: 50px;
  transition: background-color 0.25s;
  position: relative;
}

.add-currency-btn i {
  position: absolute;
  font-size: 30px;
  top: 30%;
  left: 10px;
  opacity: 0;
  transition: all 0.25s;
}

.add-currency-btn.open {
  color: rgb(174, 205, 210);
  background-color: rgb(49, 105, 124);
  border: 1px solid rgb(174, 205, 210);
}

.add-currency-btn.open i {
  opacity: 1;
  top: 10px;
}

/*Adjacent sibling selector to show dropdown list*/
.add-currency-btn.open + ul.add-currency-list {
  height: calc(100vh - 75px - 60px - 100px);
}

.add-currency-btn.open + ul.add-currency-list li:hover {
  background-color: rgba(255, 248, 232, 0.384);
}

@media only screen and (min-width: 800px) {
    .api.container{
        max-width:100%;
        margin:auto;
    }


}

/*--------------------------End of adapted styling-----------------------*/

/*-------------Weather------------*/
.temperature-value{
    font-size:50px;
 
}

.list-group{
    margin-top:20px;
}
.temperature-description{
    font-size:20px;
}
.location{
    font-size:15px;
}



