@import url("https://fonts.googleapis.com/css?family=Lexend+Peta|Beth+Ellen|Open+Sans&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  border: 0 !important;
}

body {
  font-family: "Lexend Peta";
  font-size: 20px;
}

/*Cursor*/

i,
li {
  cursor: pointer;
}

/*Navigation styling*/

.btn.btn-sm.btn-outline-info.video {
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
}

@media (max-width: 600px) {
    .btn.btn-sm.btn-outline-info.video{
    font-size: 10px;
    }
}

.navbar-toggler {
  border: 0 !important;
}

ul li,
.card-title {
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

/*Wanderlust Jumbotron*/

section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.display-4 {
  font-family: "Lexend Peta";
  text-transform: lowercase;
  letter-spacing: 7px;
  margin-bottom: 3px;
  color: rgb(49, 105, 124);
  text-shadow: 2px 3px 4px rgb(49, 105, 124, 0.3);
}

hr.medium-line {
  width: 40%;
  margin: auto;
  color: rgb(49, 105, 124);
}

.lead {
  font-family: "Beth Ellen";
  text-align: center;
  font-size: 25px;
  margin-top: 3px;
  color: rgb(49, 105, 124);
}

.jumbotron {
  background-color: rgb(174, 205, 210);
}
/*vagabond cards styling*/

.container.intro {
  justify-content: center;
  flex-direction: row;
}

div.card-deck.home {
  text-align: center;
}
.card.home {
  display: inline-block;
  border: 0;
}
p.card-text.home {
  font-size: 14px;
  text-align: justify;
  text-justify: auto;
}

#rectangle {
  width: 325px;
  height: 213px;
  background: black;
  min-width: 100%;
}
/*cards mobile and ipad styling*/

@media (max-width: 1025px) {
  .card-deck.home,
  .card.home {
    flex: 30%;
  }
  p.card-text.home {
    font-size: 13px;
  }
}

/*Footer*/

.share,
.newsletter {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: lowercase;
  font-family: "Lexend Peta";
  color: rgb(49, 105, 124);
}

/*--Newsletter styling, form and the paragraphs--*/
.Newsletter {
  width: 80%;
  margin: auto;
}

section.newsletter {
  box-shadow: 8px 8px 12px 0 rgba(0, 0, 0, 0.5),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
/*Newsletter mobile and ipad view*/

@media (max-width: 600px) {
  input#exampleInputEmail1 {
    font-size: 10px;
  }
  .Newsletter {
    width: 80%;
  }
  small#emailHelp {
    font-size: 10px;
  }
}

/*Main button styling*/

.sign-in,
.btn-newsletter {
  font-family: "Lexend Peta";
  font-size: 15px;
  text-transform: lowercase;

  border: 1px solid rgb(49, 105, 124);
  color: rgb(49, 105, 124);
}

.sign-in:hover,
.btn-newsletter:hover {
  background-color: rgb(49, 105, 124);
  color: rgb(174, 205, 210);
}
/*Social media share links*/
.socials {
  padding-left: 0;
}
.socials li {
  display: inline-block;
  padding: 50px;
}

.socials li:hover {
  text-shadow: 2px 3px 4px rgb(49, 105, 124);
}

a:hover {
  text-shadow: 2px 3px 4px rgb(49, 105, 124);
}

/*--Vertical line--*/
.vl {
  height: 70px;
}
/*--footer links styling--*/
.col-sm {
  text-align: center;
  margin-top: 10px;
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

/*Media*/

@media only screen and (max-width: 600px) {
  /*Jumbotron paragraph and main title to fit within the jumbotron*/
  .display-4 {
    font-family: "Lexend Peta";
    text-transform: lowercase;
    letter-spacing: 7px;
    font-size: 130%;
  }

  .medium-line {
    width: 80%;
    margin: auto;
  }

  .lead {
    font-size: 68%;
  }

  /*Ensuring Social Media links display nicely and centered*/
  .socials {
    text-align: center;
    padding-left: 0;
  }
  /*For mobile website reduced size of the social icons*/
  .socials li {
    display: inline-block;
    padding: 5px;
    font-size: 50%;
  }
}

/*---Footer media view----*/

@media only screen and (max-width: 800px) {
  .col-sm a:link {
    font-size: 10px;
  }
}

/*---Copyright styling----------*/
.copyright {
  font-family: p22-hopper-edward, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
}

/*Reads*/

.card {
  margin-bottom: 15px;
  width: 286px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-body {
  padding-top: 0;
}

.card-body.buttons {
  position: absolute;
  bottom: 0;
}

.card-title.reads {
  padding-top: 15px;
}

.summary {
  margin-top: 0;
  margin-bottom: 9px;
}

button.btn.sign-in.review {
  font-size: 10px;
  bottom: 0;
}

.kindle img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

a.kindle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-globe-americas:hover .tooltiptext {
  visibility: visible;
}

.fa-globe-americas .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(49, 105, 124, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 12px;
  font-family: "Lexend Peta";
  font-weight: 200;
  text-transform: lowercase;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

/*-------Media for the Reads page----*/
/*----For smaller ipads---*/
@media only screen and (max-width: 600px) {
  p.card-text {
    font-size: 15px;
    text-align: justify;
    text-justify: inter-word;
  }
  h5.card-title {
    font-size: 15px;
    padding-top: 20px;
  }

  .kindle img {
    width: 50px;
    height: 50px;
  }
}

/*----For ipad pro----*/
@media only screen and (min-width: 1000px) {
  p.card-text.reads {
    font-size: 10px;
    padding-top: 25px;
  }
  h5.card-title.reads,
  .card-title.home {
    font-size: 18px;
    padding-top: 15px;
  }
  .review {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .kindle img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 800px) {
  p.card-text.reads {
    font-size: 12px;
    padding-top: 25px;
  }
  h5.card-title.reads,
  .card-title.home {
    font-size: 20px !important;
    padding-top: 20px;
  }
  .review {
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .kindle img {
    width: 50px;
    height: 50px;
  }
}

/*-------------Map modal---------------*/

.lp {
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.lp:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Tooltip container */
.lp {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.lp .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(49, 105, 124, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  margin-left: 10px;

  font-size: 10px;
  font-family: "Lexend Peta";
  text-transform: lowercase;
  text-decoration: none !important;

  /* Position the tooltip text*/
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.lp:hover .tooltiptext {
  visibility: visible;
}

.lp.tooltiptext:active {
  outline: none;
}
/*------------------------Tunes-----------------*/

.card-container {
  perspective: 700px;
}

.card-flip,
.card-container {
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  position: relative;
  margin: auto;
}

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back {
  transform: rotateY(-180deg);
}

.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}

.card-container {
  display: grid;
  perspective: 700px;
}

.front,
.back {
  border: 0;
}

/*front and back same size*/

.front,
.back {
  width: 200px;
  height: 200px;
}
/*------Card title----*/

.card-title {
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 0;
}

/*------Icon Bar---------*/

.icon-bar {
  width: 100%;
  background-color: rgb(174, 205, 210);
  overflow: hidden;
}

.icon-bar a {
  text-align: center;
  width: 25%;
  transition: all 0.3s ease;
  color: white;
}

.card-link a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}
/*-----------Reducing card and content size on iPad view------*/
@media only screen and (max-width: 800px) {
  .socials li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .front,
  .back {
    width: 170px;
    height: 170px;
  }
  .card-title {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1100px) {
  .front,
  .back {
    width: 320px;
    height: 320px;
  }
  .card-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0;
  }
  .icon-bar {
    width: 100%;
    background-color: rgb(174, 205, 210);
    overflow: hidden;
    margin-top: 8px;
  }
}
/*------------------Increasing card size for mobiles----------*/

@media only screen and (max-width: 600px) {
  .socials li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .front,
  .back {
    width: 250px;
    height: 250px;
  }
  .card-title {
    font-size: 15px;
  }
}
/*---------------------------Contact Us-----------------------*/

h2.heading.text-center.contact {
  font-family: "Lexend Peta" !important;
  font-size: 25px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

div.form-group.col-lg-4.contact,
div.form-group.col-lg-12.contact {
  font-family: "Lexend Peta" !important;
  font-size: 15px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}

div.col-md-4.text-center.text-md-left.p-2 {
  font-family: "Lexend Peta" !important;
  font-size: 15px;
  text-transform: lowercase;
  color: rgb(49, 105, 124);
}
/*--------------------------------Places------------------------*/

p.card-title.places {
  font-size: 12px !important;
}
div.row.places {
  display: inline-block;
  padding-top: 2px;
}

a.btn.btn-outline-info {
  font-family: "Lexend Peta" !important;
  font-size: 9px;
  text-transform: lowercase;
}

/*-----------------Info window styling--------------*/

div.gm-style.gm-style-iw-c {
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.2);
}

/*-----------------Info window mobile setup--------*/

@media only screen and (max-width: 420px) {
  .row.places {
    width: 180px;
  }

  p.card-title.places {
    font-size: 13px !important;
    padding-bottom: 3px;
  }
  div.gm-style-iw.gm-style-iw-c {
    padding-left: 0;
    padding-top: 0;
  }

  .btn.btn-outline-info {
    width: 175px;
  }
  div.card-body.places {
    width: 215px !important;
  }
}

/*-------------Image search grid styling--------*/

img {
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}
.ImageResult img {
  object-fit: cover;
  max-width: 100%;
  height: auto;

  padding: 5px;
}

.view-link {
  position: bottom;
}
.searchBox.form-control {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

input#exampleInputEmail1.form-control {
  text-transform: lowercase;
}

p#dreamDest.newsletter.form-text,
.searchBox {
  font-family: "Lexend Peta";
  font-size: 12px;
  text-transform: lowercase;
  color: rgba(91, 98, 100, 0.87);
  margin-top: 0;
  margin-bottom: 0;
}

button.dreamDest {
  margin-top: 15px;
}

a.view_link.col-12 {
  color: rgb(49, 105, 124);
  text-decoration: none;
}
a.view_link.col-12:hover {
  background-color: rgb(49, 105, 124);
  color: rgb(49, 105, 124, 0.1) !important;
  text-decoration: none;
}
/*---------------------------Mobile view of the Images search-box-------------------*/

@media only screen and (max-width: 600px) {
  p#dreamDest.newsletter.form-text {
    font-size: 12px;
  }
}

/*------------------Privacy--------------------*/

.privacy {
  font-family: "Beth Ellen";
}

p.p-privacy {
  font-size: 15px;
}
/*--------------Go!/Taken from Skyscanner and adapted to the color scheme of the Vagabond website-------------*/
.PoweredBySkyscanner__logo___2attf {
  margin-right: 20px;
}
.FlightSearchWidget__searchWidgetFieldsWrap___TisxM {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
a.bpk-button {
  background-color: rgb(49, 105, 124) !important;
  background-image: none;
}
span.ReferralButton__cta___2Yxt0:hover {
  text-decoration: none !important;
}
.bpk-select {
  font-family: "Lexend Peta" !important;
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124) !important;
}

.FlightSearchWidget__searchWidget___1yYnU,
.bpk-button.bpk-button--secondary.MultiCityBlock__addFlightButton___XFoP2 {
  font-family: "Lexend Peta" !important;
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(49, 105, 124) !important;
}

.bpk-link:visited {
  color: rgb(49, 105, 124) !important;
  background: 2px 3px 4px rgba(251, 255, 5, 0.308);
  text-align: center;
}
.bpk-link:hover {
  text-decoration: none;
  background: rgb(251, 255, 5, 0.308);
  text-align: center;
}
a.bpk-link {
  border: 1px solid rgb(251, 255, 5, 0.308);
  background: rgb(251, 255, 5, 0.308);
  padding-top: 5px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 7px;
  text-align: center;
}
a.bpk-link:hover {
  text-shadow: 2px 3px 4px rgb(49, 105, 124);
}

.bpk-nudger__icon,
.bpk-radio__circle {
  color: rgb(49, 105, 124) !important;
  background: none !important;
}

/*------------------Media - mobile view of the flight booking form---------------*/
@media only screen and (max-width: 600px) {
  .ReferralButton__cta___2Yxt0,
  a.bpk-link,
  select.bpk-select {
    font-size: 9px;
  }
  a.bpk-link {
    padding-left: 8px;
    padding-right: 8px;
  }
  a.bpk-button {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .ReferralButton__buttonContainer___3X6Dk {
    margin-top: 30px !important;
  }
}
/*-----------------------Clocks/ taken from the Web Dev Simplified tutorial and adapted as required------------------*/

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(190, 219, 219, 0.589);
  border-radius: 50%;

  position: relative;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;

  background-color: black;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
  content: "";
  position: absolute;
  background-color: rgb(49, 105, 124);
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock .hand.second {
  width: 3px;
  height: 42%;
  background-color: rgb(253, 253, 252, 0.5);
}
.clock .hand.minute {
  width: 7px;
  height: 40%;
  background-color: rgb(49, 105, 124);
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: rgb(49, 105, 124);
}

/*----------------------------Media query for a mobile view of the clocks-----------------*/

@media only screen and (max-width: 600px) {
  .clock.clock1,
  .clock.clock2,
  .clock.clock3 {
    width: 80px;
    height: 80px;
    font-size: 8px;
  }
  .clock.clock1.hand,
  .clock.clock2.hand,
  .clock.clock3.hand {
    background-color: black;
    border: none;
  }
  .clock.clock1::after,
  .clock.clock2::after,
  .clock.clock3::after {
    width: 5px;
    height: 5px;
  }

  .clock.clock1 .hand.second,
  .clock.clock2 .hand.second,
  .clock.clock3 .hand.second {
    width: 1px;
    height: 42%;
    background-color: rgb(248, 244, 4);
  }
  .clock.clock1 .hand.minute,
  .clock.clock2 .hand.minute,
  .clock.clock3 .hand.minute {
    width: 2px;
    height: 40%;
    background-color: rgb(49, 105, 124);
  }
  .clock.clock1 .hand.hour,
  .clock.clock2 .hand.hour,
  .clock.clock3 .hand.hour {
    width: 3px;
    height: 35%;
    background-color: rgb(49, 105, 124);
  }

  #clockOne p,
  #clockTwo p,
  #clockThree p {
    font-size: 10px;
  }
}
/*---------------------------------------Media query for iPad view of the clocks-----------------*/

@media only screen and (max-width: 1024px) {
  .clock {
    width: 200px;
    height: 200px;
    font-size: 16px;
  }
  .clock .hand {
    background-color: black;
    border: none;
  }
  .clock::after {
    width: 10px;
    height: 10px;
  }

  .clock .hand.second {
    width: 2px;
    height: 42%;
    background-color: rgb(248, 244, 4);
  }
  .clock .hand.minute {
    width: 4px;
    height: 40%;
    background-color: rgb(49, 105, 124);
  }
  .clock .hand.hour {
    width: 6px;
    height: 35%;
    background-color: rgb(49, 105, 124);
  }
}
/*Dedicated links decoration removal*/

.display-4 a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.display-4 a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}

.card-body a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.card-body a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.card-title a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.card-title a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.col-sm a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.col-sm a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}
.copyright a:link {
  text-decoration: none;
  color: rgb(49, 105, 124) !important;
}

.copyright a:visited {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
}

.fa-hand-pointer {
  color: rgb(49, 105, 124) !important;
  text-decoration: none;
  margin-top: 20px;
}
