@import url("https://fonts.googleapis.com/css?family=Lexend+Peta|Beth+Ellen|Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-size: 20px;
}

/*Cursor*/

i,
li {
  cursor: pointer;
}

/*Navigation styling*/

ul li,
.card-title {
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(117, 33, 33);
}

.sign-in {
  font-family: "Lexend Peta";
  font-size: 15px;
  text-transform: lowercase;
  background-color: rgb(117, 33, 33, 0.1);
  border: 1px solid rgb(117, 33, 33);
  color: rgb(117, 33, 33);
}

.sign-in:hover {
  background-color: rgb(117, 33, 33);
  color: pink;
}

/*Sign up for weekly newsletter - adapted from w3school*/



form {
  border: 3px solid #f1f1f1;
  font-family: "Lexend Peta";
  text-transform: lowercase;
}

.container {
  padding: 10px;
  
  width:80%;
  margin-left: auto;
  margin-right:auto;
  
}

input[type=text], input[type=submit] {
  width: 90%;
  padding: 8px;
  margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: rgb(117, 33, 33);
  color: pink;
 
  font-family: "Lexend Peta";
  text-transform: lowercase;
}

input[type=submit]:hover {
  opacity: 0.8;
}

/*Modal style*/





/*End of form*/

/*Wanderlust Jumbotron*/

section.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


.display-4 {
  font-family: "Lexend Peta";
  text-transform: lowercase;
  letter-spacing: 7px;
  margin-bottom: 3px;
  color: rgb(117, 33, 33);
}

hr.medium-line {
  width: 40%;
  margin: auto;
  color: rgb(117, 33, 33);
}

.lead {
  font-family: "Beth Ellen";
  text-align: center;
  font-size: 25px;
  margin-top: 3px;
  color: rgb(117, 33, 33);
}

.jumbotron {
  background-color: pink;
}

/*Footer*/

.share {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 17px;
  text-transform: lowercase;
  font-family: "Lexend Peta";
  color: rgb(117, 33, 33);
}

.socials {
  padding-left: 0;
}
.socials li {
  display: inline-block;
  padding: 50px;
}

.socials li:hover {
  text-shadow: 2px 3px 4px brown;
}

a:hover {
  text-shadow: 2px 3px 4px brown;
}

.vl {
  height: 70px;
}

.col-sm {
  text-align: center;
  margin-top: 10px;
  font-family: "Lexend Peta";
  font-size: 17px;
  text-transform: lowercase;
  color: rgb(117, 33, 33);
}

.copyright {
  font-family: p22-hopper-edward, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 130%;
}
/*links decoration removal*/
.display-4 a:link {
  text-decoration: none;
  color: rgb(117, 33, 33) !important;
}

.display-4 a:visited {
  color: rgb(117, 33, 33) !important;
  text-decoration: none;
}

.card-body a:link {
  text-decoration: none;
  color: rgb(117, 33, 33) !important;
}

.card-body a:visited {
  color: rgb(117, 33, 33) !important;
  text-decoration: none;
}
.card-title a:link {
  text-decoration: none;
  color: rgb(117, 33, 33) !important;
}

.card-title a:visited {
  color: rgb(117, 33, 33) !important;
  text-decoration: none;
}
.col-sm a:link {
  text-decoration: none;
  color: rgb(117, 33, 33) !important;
}

.col-sm a:visited {
  color: rgb(117, 33, 33) !important;
  text-decoration: none;
}
.copyright a:link {
  text-decoration: none;
  color: rgb(117, 33, 33) !important;
}

.copyright a:visited {
  color: rgb(117, 33, 33) !important;
  text-decoration: none;
}

/*Removing borders*/

/*Reads*/

.card {
  margin-bottom: 15px;
  width: 286px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.card-body {
  padding-top: 0;
}

.card-body.buttons {
  position: absolute;
  bottom: 0;
}

.card-title {
  padding-top: 15px;
}

.summary {
  margin-top: 0;
  margin-bottom: 9px;
}
.kindle img{
    width: 60px;
    height:60px;
    
}


/*Tooltip on mark marker hover*/
.fa-globe-americas {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(117, 33, 33, 0.5);
}

/*Tooltip on mark marker hover*/
.fa-globe-americas {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(117, 33, 33, 0.5);
}

.fa-globe-americas .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(117, 33, 33, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 15px;
  font-family: "Open Sans";
  text-decoration: none!important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}




.fa-globe-americas:hover .tooltiptext {
  visibility: visible;
}

.fa-globe-americas .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(117, 33, 33, 0.5);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: 10px;
  margin-top: -10px;
  font-size: 15px;
  font-family: "Open Sans";
  text-decoration: none!important;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}


/*Map modal*/

.lp {
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.lp:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.fa-globe-americas:hover .tooltiptext {
  visibility: visible;
}



/*Map modal*/

.lp {
  color: #ffffff;
  background: transparent;
  border: none;
  outline: none;
}

.lp:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Media*/

@media only screen and (max-width: 600px) {
  /*Jumbotron paragraph and main title to fit within the jumbotron*/
  .display-4 {
    font-family: "Lexend Peta";
    text-transform: lowercase;
    letter-spacing: 7px;
    font-size: 130%;
  }

  .medium-line {
    width: 80%;
    margin: auto;
  }

  .lead {
    font-size: 68%;
  }

  /*Ensuring Social Media links display nicely and centered*/
  .socials {
    text-align: center;
    padding-left: 0;
  }
  /*For mobile website reduced size of the social icons*/
  .socials li {
    display: inline-block;
    padding: 5px;
    font-size: 50%;
  }
}

/*----------------------form------------*/
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}













